$base-font-size: 14px;
$hacktj-primary: #A1B6D5;
$text-color: #333333;
$input-color: rgba(255, 255, 255, 0.2);
$line-width: 7px;

@import "mixins";
@import "normalize";
@import "icons/icons";
@import "icons/helper";
@import "icons/social/icons";

body {
	background-color: $hacktj-primary;
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: white;
	position: relative;
	width: 100%;
	min-height: 100%;
}
.login-info{
	position: absolute;
	right: 40px;
	top: 40px;
	font-weight: 100;
	a{
		color: white;
	}
}

.checkin-choices{
	padding: 10px;
	a{
		color: white;
		font-weight: 100;
		text-decoration: none;
		&.current{
			font-weight: 500;
			border-bottom: 1px solid white;
		}
	}
}

input{
	display: inline-block;
	height: 50px;
	width: 69%;
	@include respond-to("mobile"){
		display: block;
		width: 100%;
	}

	outline: none;
	-webkit-appearance: none;
	appearance: none;
	box-shadow: none;
	border: none;
	border-radius: 5px;

	padding: 0px 15px;
	font-size: 25px;
	color: white;

	background-color: $input-color;
	border: 1px solid transparent;
	&:focus{
		border-color: rgba(255, 255, 255, 0.6);
	}
	transition: border-color 0.25s;

	$placeholder-color: rgba(255, 255, 255, 0.6);
	$placeholder-weight: 100;
	$placeholder-size: 20px;
	$placeholder-padding: 2.5px;
	&::-webkit-input-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
	  font-size: $placeholder-size;
	}
	&:-moz-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
		  font-size: $placeholder-size;
	}
	&::-moz-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
		  font-size: $placeholder-size;
	}
	&:-ms-input-placeholder {
		font-weight: $placeholder-weight;
	  color: $placeholder-color;
	  padding-top: $placeholder-padding;
		  font-size: $placeholder-size;
	}
	&.checkin{
		width: 100%;
	}
}

button{
	display: inline-block;
	height: 50px;
	width: 29%;
	@include respond-to("mobile"){
		display: block;
		width: 100%;
		margin-top: 10px;
	}

	float: right;
	background: none;
	overflow: hidden;
	border: 1px solid white;
	border-radius: 5px;
	font-size: 20px;
	cursor: pointer;
	position: relative;
	.text, .icon{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		line-height: 50px;
		transition: top 0.5s;
	}
	.icon{
		font-size: 30px;
		top: 100%;
	}
	&.is-disabled{
		color: rgba(230, 230, 230, 0.6);
		border-color: rgba(230, 230, 230, 0.6);
		cursor: none;
		pointer-events: none;
	}
	&.is-done{
		.text{
			top: -100%;
		}
		.icon{
			top: 0;
		}
	}
	&:hover{
		background-color: white;
		color: $hacktj-primary;
	}
	&:active{
		border-color: $hacktj-primary;
	}
	transition: background-color 0.25s, border-color 0.25s, color 0.25s, padding-left 0.25s;
}

.centered-box{
	display: block;
	width: 100%;
	max-width: 700px;
	margin: auto;
	
	position: absolute;
	top: 5%;
	left: 50%;
	transform: translate(-50%, 0);

	&.is-typing{
		.logo{
			opacity: 0;
			margin-top: -295px;
			transform: scale(0.8);
		}
	}

	@include respond-to("mobile"){
		position: relative;
		top: 0;
		left: 0;
		transform: none;
		margin-top: 1em;
	}

	.logo{
		display: block;
		max-width: 400px;
		margin: auto;
		@include respond-to("mobile"){
			max-width: 90%;
		}
		transition: margin-top 0.8s, transform 0.8s, opacity 0.5s;
	}

	.form{
		margin-top: 30px;
		margin-left: 5%;
		margin-right: 5%;
		label.form-text{
			font-weight: 100;
		}
		.input-line{
			margin-top: 10px;
			overflow: hidden;	
		}
	}
	.confirmation-text{
		display: block;
		width: 100%;
		text-align: center;
		margin-top: 10px;
		font-size: 20px;
		font-weight: 400;
	}
}
.list-container{
	margin: auto;
	width: 1200px;
	max-width: 95%;
	padding-top: 100px;
	.checkin-list{
		height: auto;
		max-height: calc(100vh - 120px);
		overflow-y: scroll;
		background-color: $input-color;
		border-radius: 8px;
		.guest{
			position: relative;
			padding: 20px 40px;
			font-size: 24px;
			cursor: pointer;
			.firstname{
				font-size: 30px;
				font-weight: 300;
				display: inline-block;
			}
			.lastname{
				margin-left: 0.3em;
				font-size: 30px;
				font-weight: 100;
				display: inline-block;
			}
			.email{
				font-size: 20px;
				line-height: 35px;
				font-weight: 100;
				display: inline-block;
				margin-right: 4em;
				float: right;
			}
			.action{
				float: right;
				opacity: 0.5;
				font-size: 20px;
				line-height: 35px;
				&:hover{
					color: #EA5C5C;
				}
			}
			&:hover, &.selected{
				background-color: #EA5C5C;
			}
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 30px;
				right: 30px;
				height: 1px;
				background-color: rgba(255, 255, 255, 0.6);
			}
			&:last-of-type:after{
				display: none;
			}
		}
		&:hover .guest.selected:not(:hover){
			background: none !important;
		}
	}
}
.checkin-modal{
	position: absolute;
	display: block;
	width: 650px;
	max-width: 50%;
	z-index: 1001;
	top: -400px;
	left: 50%;
	transform: translate(-50%, -50%);
	background: white;
	color: #333;
	padding: 0.5em;
	font-size: 30px;
	&.shown{
		top: 50%;
	}
	transition: top 0.7s;
	.title{
		text-align: center;
		font-weight: 100;
		font-size: 40px;
		margin-top: 0;
	}
	.data{
		font-size: 1em;
		color: #333;
		width: 90%;
		margin: auto;
		.field{
			font-weight: 100;
			padding-bottom: 1em;
		}
		.value{
			font-weight: 300;
			padding-bottom: 1em;
			input{
				border-color: #333;
				color: #222;
				font-weight: 300;
			}
		}
	}
	button.send-checkin{
		display: block;
		margin: auto;
		border-color: $hacktj-primary;
		color: $hacktj-primary;
		float: none;
		margin-top: 0.5em;
		font-size: 30px;
		padding: 0.6em;
		height: auto;
		width: auto;
		&:hover, &.selected{
			background-color: $hacktj-primary;
			color: white;
		}
		&:active{
			border-color: white;
		}
	}
}
.overlay{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	background-color: #222;
	opacity: 0;
	z-index: 1000;
	pointer-events: none;
	&.shown{
		opacity: 0.4;
		cursor: pointer;
		pointer-events: auto;
	}
	transition: opacity 0.5s;
}

