html(prefix="og: http://ogp.me/ns#")
	head
		title Coming Soon: HackTJ 2016

		meta(http-equiv='content-type', content='text/html; charset=utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
		meta(name="apple-mobile-web-app-status-bar-style" content="black-translucent")
		meta(name="apple-mobile-web-app-capable" content="yes")

		//- Facebook Meta Tags
		meta(property="og:title" content="Coming Soon: HackTJ 2016")
		meta(property="og:description" content="The original high school hackathon is back. February 6th-7th, 2016.")
		meta(property="og:site_name" content="HackTJ")
		meta(property="og:image" content="https://hacktj.org/2016/img/og-image.jpg")

		//- Twitter Meta Tags
		meta(name='twitter:card', content='summary_large_image')
		meta(name='twitter:site', content='@hacktjofficial')
		meta(name='twitter:title', content='Coming Soon: HackTJ 2016')
		meta(name='twitter:description', content='The original high school hackathon is back. February 6th-7th, 2016.')
		meta(name='twitter:image', content='https://hacktj.org/2016/img/og-image.jpg')



		link(rel="icon" type="image/png" href="/img/favicon.png")

		link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Roboto:100,300,400", type="text/css")
		link(rel='stylesheet', href='css/main.css', type='text/css')
	body(ng-app="HackTJCheckin" ng-controller="CheckinController")
		.login-info(ng-show="user")
			| Hello, {{user.firstname}} (
			a(ng-click="logout()" href="javascript: null();") logout
			| )
		.centered-box(ng-class="{'is-typing': isTyping}")
			img.logo(src="img/logo-main.png" alt="HackTJ")
			.form.login-form(ng-show="!user")
				label.form-text Enter your organizer password to login.
				.input-line
					input.password(type="password" placeholder="Password" ng-model="password")
					button.submit(type="button" ng-class="{'is-disabled': !password}" ng-click="login()") Log in
					.confirmation-text(ng-bind="loginhelp") hi
			.form.checkin-form(ng-show="user")
				.input-line
					input.checkin(type="text" placeholder="Start Typing to check in..." ng-focus="isTyping=true" ng-blur="isTyping=false")
				.confirmation-text(ng-model="loginhelp")
	script(src="js/main.js" type="text/javascript")